* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gradient-top: linear-gradient(0deg, rgba(22, 24, 19, 0) 0%, rgba(22, 24, 19, 0.22) 36.98%, rgba(22, 24, 19, 0.47) 70.83%, rgba(22, 24, 19, 0.76) 100%);
    --gradient-bottom: linear-gradient(180deg, rgba(22, 24, 19, 0) 0%, rgba(22, 24, 19, 0.42) 21.88%, rgba(22, 24, 19, 0.69) 41.67%, rgba(22, 24, 19, 0.9) 61.98%, rgba(22, 24, 19, 0.99) 78.12%, #161813 100%);
    --sphere-gradient-one: radial-gradient(50% 50% at 20% 25%, #686868 0%, #403F3F 35%, #222222 70%, #000000 100%);
    --sphere-gradient-two: radial-gradient(51.04% 51.04% at 18.94% 26.18%, #686868 0%, #403F3F 36.98%, #222222 70.83%, #000000 100%);
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #161813;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 100px;
	padding: 20px 30px;
}

.navbar.bg {
	background-color: #161813;
}

.links-container {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.logo {
	height: 50px;
	margin-top: 10px;
}

.link-item {
	margin: 0 30px;
	transition: .5s;
}

.link-item a {
	color: #fff;
	text-decoration: none;
	padding: 20px;
}

.hero-section {
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.background-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.background::before,
.background::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 50%;
}

.background::before {
	top: 0;
	left: 0;
	background: var(--gradient-top);
}

.background::after {
	bottom: 0;
	left: 0;
	background: var(--gradient-bottom);
}

.hero-section-title {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 80px;
	text-align: center;
	text-transform: capitalize;
}

.hero-section-sub-heading {
	text-align: center;
	text-transform: capitalize;
	margin: 20px 0;
	font-size: 20px;
}